@media screen and (max-width: 1200px) {
    .header__container__logo {
        padding: 0px 20px;
    }

}

@media screen and (max-width: 880px) {
    .header__container__logo-description,
    .header__container__contacts-container button {
        display: none;
    }

    .header__container__logo-content-label {
        padding-left: 43px;
        min-width: 107px;
        min-height: 18px;
    }

    .header__container__logo-content-burger {
        display: block;
    }

    .header__container__menu {
        align-items: flex-start;
        min-height: 1000px;
        top: 0;
        margin-top: 60px;
        position: fixed;

        background: rgba(69, 146, 127, 0.90);

        backdrop-filter: blur(2px);

        z-index: -10;
    }

    .menu__container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        padding-top: 48px;
        height: 100%;
        width: 100%;

        gap: 10px;
        line-height: 24px;
        
        /* transition: 0.4s; */
        /* transform: translateX(0); */
    }

    .active {
        opacity: 0;
        pointer-events: none;
        
        /* transform: translateX(-100%); */
        /* transition: 0.4s ease-in-out; */
    }

    .logo__icon {
        content: url('../../../asserts/burger_close.png');
        padding-right: 8px;
    }

    .tablet__menu {
        display: block !important;
        width: auto;

        background-color: #F6F6F6;

        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;

        border: none;
        color: #1FA181;

        margin-top: 40px;
    }

    .tablet__menu:hover {
        background-color: var(--light-green);
        color: white;
        transition: 0.2s ease-in-out
    }

    .tablet__menu:active {
        background-color: var(--accent-light);
    }

}